spring:
  profiles:
    active: development # По умолчанию запускаем дев-версию
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    root: INFO
    org.hibernate: ERROR
    # Это отключит логи самого движка Hibernate
    org.hibernate.engine.query.spi.QueryPlanCache: ERROR